.home__container {
    background-image: url('../../assets/bg-md.png');
    background-size: 100% 100%;
    .welcome-box {
        position: relative;
        top: 25%;
        left: 0;
        padding-left: 4rem;
        transform: translateX(0);
        max-width: 55%;
    }
}